body {
    background-color: rgb(13, 4, 65);
    overflow-x: hidden;
    color: #e7e9f0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}